<mat-drawer-container class="container" autosize>
  <mat-drawer id="drawer" class="mat-elevation-z8" #drawer mode="side" position="end">

    <div class="drawer-content">

      <app-title title="{{sideTitle}}">
        <div class="drawer-actions">
          <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="selectedGroupe?.id != 0">Delete</button>
          <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="selectedGroupe?.id == 0 || !groupeControl.pristine">Save</button>
          <button mat-raised-button (click)="onClose()">Close</button>
        </div>
      </app-title>

      <form [formGroup]="groupeControl">

        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input id="nom" formControlName="nom" matInput>
          <mat-error [printErrors]="groupeControl.get('nom')"></mat-error>
        </mat-form-field>

        <mat-form-field class="example-chip-list" appearance="outline">
          <mat-label>Stagiaires</mat-label>
          <mat-chip-list #chipList class="mat-chip-list-stacked" aria-label="Selection stagiaire">
            <mat-chip
              *ngFor="let s of stagiairesControl.value; let i = index"
              (removed)="removeStagiaire(i)">
              <p>{{s.prenom}} {{s.nom}}</p>
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
          <input
            placeholder="Ajouter un stagiaire"
            #stagiaireInput
            [formControl]="stagiaireControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addStagiaire($event)">
            <mat-option *ngFor="let s of filteredStagiaires | async" [value]="s">
              {{s.prenom}} {{s.nom}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </form>




    </div>
  </mat-drawer>


<div id="groupes" class="mat-elevation-z8">

  <app-title title="Groupes">
    <button mat-raised-button color="primary" (click)="onAdd()">Nouveau</button>
  </app-title>

  <table mat-table [dataSource]="groupes" class="" #groupesTableElement>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="nbStagiaires">
      <th mat-header-cell *matHeaderCellDef> Stagiaires </th>
      <td mat-cell *matCellDef="let element"> {{element.nbStagiaires}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id','name','nbStagiaires']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id','name','nbStagiaires'];" (click)="onSelect(row)"></tr>
  </table>

</div>


</mat-drawer-container>
